<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{HTTP_HOST} ^masharyco\.com [NC]
    RewriteRule (.*) http://www.masharyco.com/$1 [R=301,L]

    RewriteRule  ^$ public/    [L]
    RewriteRule  (.*) public/$1 [L]
</IfModule>